*{
	padding: 0;
	margin: 0 auto;
}
.logo{
	float: left;
}
nav > ul > li{
	list-style: none;
	display: inline- block;
	float: right;
}
aside{
	width: 400px;
	float:left;
}
section{
	width: 70%;
	float: left;
}