body {
    margin: 0;
    padding: 0;
}

#header {
    margin: auto 0;
    width: 100%;
}

.content {
    background-image: url("../Images/homebackground.jpg");
}

.content > section > article > header {
    text-align: center;
    text-shadow: 0 0 20px black;
}

.content > section > article > p.released-date {
    text-align: center;
    color: lightgray;
}

.content > section > article > p.article-body:first-letter {
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    padding-left: 20px;
}

.content > section > article > p.article-body {
    color: red;
}