*{
	padding:0 auto;
	margin:0 ;
}
table{
	font-size: 25px;
}
.second{
	font-size: 18px;
}
.heading{
	height: 70px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	font-family: Calibri;
}
.google{
	width: 120px;
	height: 60px;
	vertical-align: top;
	text-align: left;
}
.github{
	vertical-align: top;
	text-align: right;
}
.fb{
	width: 70px;
	height: 70px;
	vertical-align: top;
	text-align: center;
}
.gmail{
	width: 70px;
	height: 70px;
	text-align: center;

}
.youtube{
	width: 70px;
	height: 70px;
	vertical-align: bottom;
	text-align:left;
}
.g2048{
	width: 70px;
	height: 70px;
	vertical-align: top;
	text-align: right;
}
.food{
	height: 100px;	
	vertical-align: bottom;
	text-align: right;
}
.game{
	vertical-align: bottom;
	text-align: left;
}
.social{
	width: 100px;
	height: 40px;
	text-align: center;
	font-weight: bold;
}
.sleep{
	font-weight: bold;
	text-align: center;
	height: 40px;
}
.beer{
	height: 70px;
	vertical-align: center;
	text-align: right;
	font-weight: bold;
}
.wc{
	text-align: left;
	vertical-align: center;
}